.row {
  color: white;
  margin-left: 20px;
}
.row__contents {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row__contents::-webkit-scrollbar {
  display: none;
}
.row__img {
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
}
.row__img:hover {
  transform: scale(1.08);
}
.row__imgLarge {
  max-height: 250px;
}
.row__imgLarge:hover {
  transform: scale(1.09);
}

@media screen and (max-width: 600px) {
  .row__contents {
    padding: 10px;
  }
  .row {
    margin-left: 10px;
  }
}
